# Virtual environment
venv/
.env/

# Python bytecode
__pycache__/

# Cache
.cache/

# Streamlit configuration and credentials
.streamlit/

# Files and folders for storing keys or sensitive information
key/

# Folder for questions (adjust as needed)
question/

# Test folder (adjust as needed)
test/
